# Set this in the .env file of the Docker Compose setup root directory
LIQPAY_PUBLIC_KEY=sandbox_i97109309241
LIQPAY_PRIVATE_KEY=your_private_key
LIQPAY_CALLBACK_URL=http://yourdomain.com/callback
LIQPAY_SUCCESS_URL=http://yourdomain.com/success
LIQPAY_FAIL_URL=http://yourdomain.com/fail
